# Data Wrangling Notebook


## Summary of work to be done

The goal in this notebook is to prepare the lending club data for visualization and modeling. Data had 144 columns
with many of them with more than 50% missing values. Many of columns contained data leakage. Some of the categorical nominal columns had more than 15 unique values which had to be recategorized in order to prepare them for one-hot encoding.

### Steps in the notebook:
1. Setting things up:
   * Import data
   * Import dictionary and create preview dataframe
     

2. Removing data based on different criteria:
   * Remove columns that contain more than 50% missing values
   * Remove rows that contain 100% missing values
   * Remove columns that contain data leakage
   * Remove columns that contain a single unique value
   * Remove columns that contain redundant information
   * Remove columns that contain information that can be infered from other columns
     

3. Feature engineering:
   * Engineer datetime columns
   * Estimate missing values of highly correlated columns
   * Recategorize some nominal columns
   * Change dtypes of some object columns
   * Prepare the dependent variable

## Setting things up

In [1]:
import pandas as pd
import numpy as np

### Import data

*Read in the downloaded csv file (header row was in the second row of the csv file, and last two rows contained useless data so those three rows were skipped with the attributes in read_csv function):*

In [2]:
df = pd.read_csv("./LoanStats3a.csv", header=1, nrows=42536, low_memory=False)
df.shape

(42536, 144)

In [3]:
pd.set_option("display.max_rows", 144)
pd.set_option('max_colwidth', 5000)
df.tail().T

,42531,42532,42533,42534,42535
id,NaN,NaN,NaN,NaN,NaN
member_id,NaN,NaN,NaN,NaN,NaN
loan_amnt,3500,1000,2525,6500,5000
funded_amnt,3500,1000,2525,6500,5000
funded_amnt_inv,225,0,225,0,0
term,36 months,36 months,36 months,36 months,36 months
int_rate,10.28%,9.64%,9.33%,8.38%,7.75%
installment,113.39,32.11,80.69,204.84,156.11
grade,C,B,B,A,A
sub_grade,C1,B4,B3,A5,A3
emp_title,NaN,Halping hands company inc.,NaN,NaN,Homemaker
emp_length,< 1 year,< 1 year,< 1 year,< 1 year,10+ years
home_ownership,RENT,RENT,RENT,NONE,MORTGAGE
annual_inc,180000,12000,110000,NaN,70000
verification_status,Not Verified,Not Verified,Not Verified,Not Verified,Not Verified
issue_d,Jun-2007,Jun-2007,Jun-2007,Jun-2007,Jun-2007
loan_status,Does not meet the credit policy. Status:Fully Paid,Does not meet the credit policy. Status:Fully Paid,Does not meet the credit policy. Status:Fully Paid,Does not meet the credit policy. Status:Fully Paid,Does not meet the credit policy. Status:Fully Paid
pymnt_plan,n,n,n,n,n
url,NaN,NaN,NaN,NaN,NaN
desc,"I am getting married on July 28 and will need another $3,500 to pay the suppliers (catering, hotel, etc.). I would have never thought getting married was such an expensive proposition! Thanks for helping.",I would like to buy some new furniture in my apartment and TV,"I need to pay $2,100 for fixing my Volvo :) Any help appreciated!","Hi, I'm buying a used car. Anybody on facebook wants to finance me? Thanks","I need to make several improvements around the house - fix garage, fix back fencing, and misc other."
purpose,other,other,other,other,other
title,Wedding coming up,delight,Car repair bill,Buying a car,Aroundthehouse
zip_code,100xx,021xx,100xx,100xx,068xx
addr_state,NY,MA,NY,NY,CT
dti,10,10,10,4,8.81
delinq_2yrs,NaN,NaN,NaN,NaN,NaN
earliest_cr_line,NaN,NaN,NaN,NaN,NaN
inq_last_6mths,NaN,NaN,NaN,NaN,NaN
mths_since_last_delinq,NaN,NaN,NaN,NaN,NaN
mths_since_last_record,NaN,NaN,NaN,NaN,NaN
open_acc,NaN,NaN,NaN,NaN,NaN
pub_rec,NaN,NaN,NaN,NaN,NaN
revol_bal,0,0,0,0,0
revol_util,NaN,NaN,NaN,NaN,NaN
total_acc,NaN,NaN,NaN,NaN,NaN
initial_list_status,f,f,f,f,f
out_prncp,0,0,0,0,0
out_prncp_inv,0,0,0,0,0
total_pymnt,3719.43,1155.6,2904.5,7373.9,5619.76
total_pymnt_inv,239.11,0,258.82,0,0
total_rec_prncp,3500,1000,2525,6500,5000
total_rec_int,219.43,155.6,379.5,873.9,619.76
total_rec_late_fee,0,0,0,0,0
recoveries,0,0,0,0,0
collection_recovery_fee,0,0,0,0,0
last_pymnt_d,Mar-2008,Jun-2010,Jun-2010,Jun-2010,Jun-2010
last_pymnt_amnt,0,32.41,82.03,205.32,156.39
next_pymnt_d,Mar-2008,Jul-2010,Jul-2010,Jul-2010,Jul-2010
last_credit_pull_d,Feb-2013,Sep-2014,May-2007,Aug-2007,Feb-2015
collections_12_mths_ex_med,NaN,NaN,NaN,NaN,NaN
mths_since_last_major_derog,NaN,NaN,NaN,NaN,NaN
policy_code,1,1,1,1,1
application_type,Individual,Individual,Individual,Individual,Individual
annual_inc_joint,NaN,NaN,NaN,NaN,NaN
dti_joint,NaN,NaN,NaN,NaN,NaN
verification_status_joint,NaN,NaN,NaN,NaN,NaN
acc_now_delinq,NaN,NaN,NaN,NaN,NaN
tot_coll_amt,NaN,NaN,NaN,NaN,NaN
tot_cur_bal,NaN,NaN,NaN,NaN,NaN
open_acc_6m,NaN,NaN,NaN,NaN,NaN
open_act_il,NaN,NaN,NaN,NaN,NaN
open_il_12m,NaN,NaN,NaN,NaN,NaN
open_il_24m,NaN,NaN,NaN,NaN,NaN
mths_since_rcnt_il,NaN,NaN,NaN,NaN,NaN
total_bal_il,NaN,NaN,NaN,NaN,NaN
il_util,NaN,NaN,NaN,NaN,NaN
open_rv_12m,NaN,NaN,NaN,NaN,NaN
open_rv_24m,NaN,NaN,NaN,NaN,NaN
max_bal_bc,NaN,NaN,NaN,NaN,NaN
all_util,NaN,NaN,NaN,NaN,NaN
total_rev_hi_lim,NaN,NaN,NaN,NaN,NaN
inq_fi,NaN,NaN,NaN,NaN,NaN
total_cu_tl,NaN,NaN,NaN,NaN,NaN
inq_last_12m,NaN,NaN,NaN,NaN,NaN
acc_open_past_24mths,NaN,NaN,NaN,NaN,NaN
avg_cur_bal,NaN,NaN,NaN,NaN,NaN
bc_open_to_buy,NaN,NaN,NaN,NaN,NaN
bc_util,NaN,NaN,NaN,NaN,NaN
chargeoff_within_12_mths,NaN,NaN,NaN,NaN,NaN
delinq_amnt,NaN,NaN,NaN,NaN,NaN
mo_sin_old_il_acct,NaN,NaN,NaN,NaN,NaN
mo_sin_old_rev_tl_op,NaN,NaN,NaN,NaN,NaN
mo_sin_rcnt_rev_tl_op,NaN,NaN,NaN,NaN,NaN
mo_sin_rcnt_tl,NaN,NaN,NaN,NaN,NaN
mort_acc,NaN,NaN,NaN,NaN,NaN
mths_since_recent_bc,NaN,NaN,NaN,NaN,NaN
mths_since_recent_bc_dlq,NaN,NaN,NaN,NaN,NaN
mths_since_recent_inq,NaN,NaN,NaN,NaN,NaN
mths_since_recent_revol_delinq,NaN,NaN,NaN,NaN,NaN
num_accts_ever_120_pd,NaN,NaN,NaN,NaN,NaN
num_actv_bc_tl,NaN,NaN,NaN,NaN,NaN
num_actv_rev_tl,NaN,NaN,NaN,NaN,NaN
num_bc_sats,NaN,NaN,NaN,NaN,NaN
num_bc_tl,NaN,NaN,NaN,NaN,NaN
num_il_tl,NaN,NaN,NaN,NaN,NaN
num_op_rev_tl,NaN,NaN,NaN,NaN,NaN
num_rev_accts,NaN,NaN,NaN,NaN,NaN
num_rev_tl_bal_gt_0,NaN,NaN,NaN,NaN,NaN
num_sats,NaN,NaN,NaN,NaN,NaN
num_tl_120dpd_2m,NaN,NaN,NaN,NaN,NaN
num_tl_30dpd,NaN,NaN,NaN,NaN,NaN
num_tl_90g_dpd_24m,NaN,NaN,NaN,NaN,NaN
num_tl_op_past_12m,NaN,NaN,NaN,NaN,NaN
pct_tl_nvr_dlq,NaN,NaN,NaN,NaN,NaN
percent_bc_gt_75,NaN,NaN,NaN,NaN,NaN
pub_rec_bankruptcies,NaN,NaN,NaN,NaN,NaN
tax_liens,NaN,NaN,NaN,NaN,NaN
tot_hi_cred_lim,NaN,NaN,NaN,NaN,NaN
total_bal_ex_mort,NaN,NaN,NaN,NaN,NaN
total_bc_limit,NaN,NaN,NaN,NaN,NaN
total_il_high_credit_limit,NaN,NaN,NaN,NaN,NaN
revol_bal_joint,NaN,NaN,NaN,NaN,NaN
sec_app_earliest_cr_line,NaN,NaN,NaN,NaN,NaN
sec_app_inq_last_6mths,NaN,NaN,NaN,NaN,NaN
sec_app_mort_acc,NaN,NaN,NaN,NaN,NaN
sec_app_open_acc,NaN,NaN,NaN,NaN,NaN
sec_app_revol_util,NaN,NaN,NaN,NaN,NaN
sec_app_open_act_il,NaN,NaN,NaN,NaN,NaN
sec_app_num_rev_accts,NaN,NaN,NaN,NaN,NaN
sec_app_chargeoff_within_12_mths,NaN,NaN,NaN,NaN,NaN
sec_app_collections_12_mths_ex_med,NaN,NaN,NaN,NaN,NaN
sec_app_mths_since_last_major_derog,NaN,NaN,NaN,NaN,NaN
hardship_flag,N,N,N,N,N
hardship_type,NaN,NaN,NaN,NaN,NaN
hardship_reason,NaN,NaN,NaN,NaN,NaN
hardship_status,NaN,NaN,NaN,NaN,NaN
deferral_term,NaN,NaN,NaN,NaN,NaN
hardship_amount,NaN,NaN,NaN,NaN,NaN
hardship_start_date,NaN,NaN,NaN,NaN,NaN
hardship_end_date,NaN,NaN,NaN,NaN,NaN
payment_plan_start_date,NaN,NaN,NaN,NaN,NaN
hardship_length,NaN,NaN,NaN,NaN,NaN
hardship_dpd,NaN,NaN,NaN,NaN,NaN
hardship_loan_status,NaN,NaN,NaN,NaN,NaN
orig_projected_additional_accrued_interest,NaN,NaN,NaN,NaN,NaN
hardship_payoff_balance_amount,NaN,NaN,NaN,NaN,NaN
hardship_last_payment_amount,NaN,NaN,NaN,NaN,NaN
debt_settlement_flag,N,N,N,N,N
debt_settlement_flag_date,NaN,NaN,NaN,NaN,NaN
settlement_status,NaN,NaN,NaN,NaN,NaN
settlement_date,NaN,NaN,NaN,NaN,NaN
settlement_amount,NaN,NaN,NaN,NaN,NaN
settlement_percentage,NaN,NaN,NaN,NaN,NaN
settlement_term,NaN,NaN,NaN,NaN,NaN

### Import dictionary and create preview dataframe

*Read in the lending club dictionary with the descriptions of columns:*

In [4]:
dictionary = pd.read_excel("./LCDataDictionary.xlsx")
print(dictionary.columns.tolist())

['LoanStatNew', 'Description']

*Change the dictionary column names for convenience:*

In [5]:
dictionary.columns = ['name', 'description']
print(dictionary.columns.tolist())

['name', 'description']

*Create a dataframe with name, dtypes, first value, description as columns for an overview of descriptions that is more convenient than the dictionary dataframe:*

In [6]:
df_dtypes = pd.DataFrame(df.dtypes,columns=['dtypes'])
df_dtypes = df_dtypes.reset_index()
df_dtypes['name'] = df_dtypes['index']
df_dtypes = df_dtypes[['name','dtypes']]
df_dtypes['first value'] = df.loc[0].values
preview = df_dtypes.merge(dictionary, on='name',how='left')
preview.head()

,name,dtypes,first value,description
0,id,object,NaN,A unique LC assigned ID for the loan listing.
1,member_id,float64,NaN,A unique LC assigned Id for the borrower member.
2,loan_amnt,float64,5000,"The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value."
3,funded_amnt,float64,5000,The total amount committed to that loan at that point in time.
4,funded_amnt_inv,float64,4975,The total amount committed by investors for that loan at that point in time.

## Removing columns based on different criteria

*Show columns that have at leat one missing value:*

In [7]:
df.isnull().sum()[df.isnull().sum() > 0]

id                                            42535
member_id                                     42536
loan_amnt                                         1
funded_amnt                                       1
funded_amnt_inv                                   1
term                                              1
int_rate                                          1
installment                                       1
grade                                             1
sub_grade                                         1
emp_title                                      2627
emp_length                                     1113
home_ownership                                    1
annual_inc                                        5
verification_status                               1
issue_d                                           1
loan_status                                       1
pymnt_plan                                        1
url                                           42536
desc                                          13294
purpose                                           1
title                                            14
zip_code                                          1
addr_state                                        1
dti                                               1
delinq_2yrs                                      30
earliest_cr_line                                 30
inq_last_6mths                                   30
mths_since_last_delinq                        26927
mths_since_last_record                        38885
open_acc                                         30
pub_rec                                          30
revol_bal                                         1
revol_util                                       91
total_acc                                        30
initial_list_status                               1
out_prncp                                         1
out_prncp_inv                                     1
total_pymnt                                       1
total_pymnt_inv                                   1
total_rec_prncp                                   1
total_rec_int                                     1
total_rec_late_fee                                1
recoveries                                        1
collection_recovery_fee                           1
last_pymnt_d                                     84
last_pymnt_amnt                                   1
next_pymnt_d                                  39787
last_credit_pull_d                                5
collections_12_mths_ex_med                      146
mths_since_last_major_derog                   42536
policy_code                                       1
application_type                                  1
annual_inc_joint                              42536
dti_joint                                     42536
verification_status_joint                     42536
acc_now_delinq                                   30
tot_coll_amt                                  42536
tot_cur_bal                                   42536
open_acc_6m                                   42536
open_act_il                                   42536
open_il_12m                                   42536
open_il_24m                                   42536
mths_since_rcnt_il                            42536
total_bal_il                                  42536
il_util                                       42536
open_rv_12m                                   42536
open_rv_24m                                   42536
max_bal_bc                                    42536
all_util                                      42536
total_rev_hi_lim                              42536
inq_fi                                        42536
total_cu_tl                                   42536
inq_last_12m                                  42536
acc_open_past_24mths                          42536
avg_cur_bal                                   42536
bc_open_to_buy                                42536
bc_util                                       42536
chargeoff_within_12_mths                        146
delinq_amnt                                      30
mo_sin_old_il_acct                            42536
mo_sin_old_rev_tl_op                          42536
mo_sin_rcnt_rev_tl_op                         42536
mo_sin_rcnt_tl                                42536
mort_acc                                      42536
mths_since_recent_bc                          42536
mths_since_recent_bc_dlq                      42536
mths_since_recent_inq                         42536
mths_since_recent_revol_delinq                42536
num_accts_ever_120_pd                         42536
num_actv_bc_tl                                42536
num_actv_rev_tl                               42536
num_bc_sats                                   42536
num_bc_tl                                     42536
num_il_tl                                     42536
num_op_rev_tl                                 42536
num_rev_accts                                 42536
num_rev_tl_bal_gt_0                           42536
num_sats                                      42536
num_tl_120dpd_2m                              42536
num_tl_30dpd                                  42536
num_tl_90g_dpd_24m                            42536
num_tl_op_past_12m                            42536
pct_tl_nvr_dlq                                42536
percent_bc_gt_75                              42536
pub_rec_bankruptcies                           1366
tax_liens                                       106
tot_hi_cred_lim                               42536
total_bal_ex_mort                             42536
total_bc_limit                                42536
total_il_high_credit_limit                    42536
revol_bal_joint                               42536
sec_app_earliest_cr_line                      42536
sec_app_inq_last_6mths                        42536
sec_app_mort_acc                              42536
sec_app_open_acc                              42536
sec_app_revol_util                            42536
sec_app_open_act_il                           42536
sec_app_num_rev_accts                         42536
sec_app_chargeoff_within_12_mths              42536
sec_app_collections_12_mths_ex_med            42536
sec_app_mths_since_last_major_derog           42536
hardship_flag                                     1
hardship_type                                 42536
hardship_reason                               42536
hardship_status                               42536
deferral_term                                 42536
hardship_amount                               42536
hardship_start_date                           42536
hardship_end_date                             42536
payment_plan_start_date                       42536
hardship_length                               42536
hardship_dpd                                  42536
hardship_loan_status                          42536
orig_projected_additional_accrued_interest    42536
hardship_payoff_balance_amount                42536
hardship_last_payment_amount                  42536
debt_settlement_flag                              1
debt_settlement_flag_date                     42376
settlement_status                             42376
settlement_date                               42376
settlement_amount                             42376
settlement_percentage                         42376
settlement_term                               42376
dtype: int64

*Locate the source of bunch of ones:*

In [8]:
df.iloc[39784:39787,0:5]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv
39784,NaN,NaN,5000.0,5000.0,650.0
39785,NaN,NaN,7500.0,7500.0,800.0
39786,Loans that do not meet the credit policy,NaN,NaN,NaN,NaN

### Remove columns that contain more than 50% missing values

*Remove all columns that have more than 50% missing values:*

In [9]:
df = df.drop((df.isnull().sum()[df.isnull().sum() > (df.shape[0] / 2)]).index, axis=1)
df.shape

(42536, 53)

### Remove rows that contain 100% missing values

*Remove the single row with all missing values:*

In [10]:
df = df.dropna(how='all')
df.reset_index(inplace=True, drop=True)
df.shape

(42535, 53)

   ### Remove columns that contain data leakage, a single unique value, redundant information and information               that can be infered from other columns

*Inspect the descriptions for columns that:* 
* *leak information*
* *contain redundant information*
* *contain information that can be infered from other columns*
* *contain only one/mostly one unique value:*

In [11]:
preview.head(54)

,name,dtypes,first value,description
0,id,object,NaN,A unique LC assigned ID for the loan listing.
1,member_id,float64,NaN,A unique LC assigned Id for the borrower member.
2,loan_amnt,float64,5000,"The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value."
3,funded_amnt,float64,5000,The total amount committed to that loan at that point in time.
4,funded_amnt_inv,float64,4975,The total amount committed by investors for that loan at that point in time.
5,term,object,36 months,The number of payments on the loan. Values are in months and can be either 36 or 60.
6,int_rate,object,10.65%,Interest Rate on the loan
7,installment,float64,162.87,The monthly payment owed by the borrower if the loan originates.
8,grade,object,B,LC assigned loan grade
9,sub_grade,object,B2,LC assigned loan subgrade
10,emp_title,object,NaN,The job title supplied by the Borrower when applying for the loan.*
11,emp_length,object,10+ years,Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.
12,home_ownership,object,RENT,"The home ownership status provided by the borrower during registration or obtained from the credit report. Our values are: RENT, OWN, MORTGAGE, OTHER"
13,annual_inc,float64,24000,The self-reported annual income provided by the borrower during registration.
14,verification_status,object,Verified,"Indicates if income was verified by LC, not verified, or if the income source was verified"
15,issue_d,object,Dec-2011,The month which the loan was funded
16,loan_status,object,Fully Paid,Current status of the loan
17,pymnt_plan,object,n,Indicates if a payment plan has been put in place for the loan
18,url,float64,NaN,URL for the LC page with listing data.
19,desc,object,Borrower added on 12/22/11 > I need to upgrade my business technologies.<br>,Loan description provided by the borrower
20,purpose,object,credit_card,A category provided by the borrower for the loan request.
21,title,object,Computer,The loan title provided by the borrower
22,zip_code,object,860xx,The first 3 numbers of the zip code provided by the borrower in the loan application.
23,addr_state,object,AZ,The state provided by the borrower in the loan application
24,dti,float64,27.65,"A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income."
25,delinq_2yrs,float64,0,The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years
26,earliest_cr_line,object,Jan-1985,The month the borrower's earliest reported credit line was opened
27,inq_last_6mths,float64,1,The number of inquiries in past 6 months (excluding auto and mortgage inquiries)
28,mths_since_last_delinq,float64,NaN,The number of months since the borrower's last delinquency.
29,mths_since_last_record,float64,NaN,The number of months since the last public record.
30,open_acc,float64,3,The number of open credit lines in the borrower's credit file.
31,pub_rec,float64,0,Number of derogatory public records
32,revol_bal,float64,13648,Total credit revolving balance
33,revol_util,object,83.7%,"Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit."
34,total_acc,float64,9,The total number of credit lines currently in the borrower's credit file
35,initial_list_status,object,f,"The initial listing status of the loan. Possible values are – W, F"
36,out_prncp,float64,0,Remaining outstanding principal for total amount funded
37,out_prncp_inv,float64,0,Remaining outstanding principal for portion of total amount funded by investors
38,total_pymnt,float64,5863.16,Payments received to date for total amount funded
39,total_pymnt_inv,float64,5833.84,Payments received to date for portion of total amount funded by investors
40,total_rec_prncp,float64,5000,Principal received to date
41,total_rec_int,float64,863.16,Interest received to date
42,total_rec_late_fee,float64,0,Late fees received to date
43,recoveries,float64,0,post charge off gross recovery
44,collection_recovery_fee,float64,0,post charge off collection fee
45,last_pymnt_d,object,Jan-2015,Last month payment was received
46,last_pymnt_amnt,float64,171.62,Last total payment amount received
47,next_pymnt_d,object,NaN,Next scheduled payment date
48,last_credit_pull_d,object,May-2019,The most recent month LC pulled credit for this loan
49,collections_12_mths_ex_med,float64,0,Number of collections in 12 months excluding medical collections
50,mths_since_last_major_derog,float64,NaN,Months since most recent 90-day or worse rating
51,policy_code,float64,1,publicly available policy_code=1\nnew products not publicly available policy_code=2
52,application_type,object,Individual,Indicates whether the loan is an individual application or a joint application with two co-borrowers
53,annual_inc_joint,float64,NaN,The combined self-reported annual income provided by the co-borrowers during registration

*Drop the problematic columns:*

In [12]:
cols_rm = ["funded_amnt", "funded_amnt_inv", "sub_grade", "pymnt_plan",
           "desc", "zip_code", "out_prncp", "out_prncp_inv", "initial_list_status",
           "total_pymnt", "total_pymnt_inv", "total_rec_prncp", "title",
           "total_rec_int", "total_rec_late_fee", "recoveries", "application_type", 
           "collection_recovery_fee", "last_pymnt_d", "last_pymnt_amnt",
           "last_credit_pull_d", "hardship_flag", "debt_settlement_flag", "delinq_amnt", 
           "chargeoff_within_12_mths", "collections_12_mths_ex_med", "tax_liens",
           "acc_now_delinq", "policy_code", "emp_title"
          ]
df = df.drop(cols_rm, axis=1)
df.shape

(42535, 23)

## Feature engineering

### Engineer datetime columns

*Use the issue_d and earliest_cr_line columns to create a new column that will contain the age of the credit line in months, then remove the two original columns:*

In [13]:
columns = ["issue_d", "earliest_cr_line"]
df["issue_d"] = pd.to_datetime(df["issue_d"])
df["earliest_cr_line"] = pd.to_datetime(df["earliest_cr_line"])
df["age_cr_line"] = df["issue_d"] - df["earliest_cr_line"]
df.drop(columns, axis=1, inplace=True)
df["age_cr_line"] = df["age_cr_line"].dt.days
# at this point age_cr_line column contains null values which have to be removed:
rows_rm = df[df.age_cr_line.isnull()].index.to_list()
df.drop(rows_rm, inplace=True)
df.reset_index(inplace=True, drop=True)
df["age_cr_line"] = df.age_cr_line.apply(lambda x: int(round((x / 30.44), 0)))
df.shape

(42506, 22)

In [14]:
df.isnull().sum()[df.isnull().sum() > 0]

emp_length              1112
revol_util                61
pub_rec_bankruptcies    1336
dtype: int64

### Estimate missing values of highly correlated columns

*From the descriptions alone of the pub_rec and pub_rec_bankruptcies columns we can assume high correlation between the two columns since the latter is clearly a subset of the former:*

In [15]:
pub_der_recs = pd.DataFrame()
pub_der_recs["pub_rec"] = df.pub_rec
pub_der_recs["pub_rec_bankruptcies"] = df.pub_rec_bankruptcies
pub_der_recs.corr()

                       pub_rec  pub_rec_bankruptcies
pub_rec               1.000000              0.841454
pub_rec_bankruptcies  0.841454              1.000000

*Hence, we can use pub_rec to fill in pub_rec_bankruptcies nulls with the following logic:*
* *where pub_rec = 0 => pub_rec_bankruptcies = 0*
* *pub_rec = 1 => pub_rec_bankruptcies = 1 (even though it can be 0 we use conservative estimate, same number)*
* *pub_rec = 2 => pub_rec_bankruptcies = 2 (even though it can be 0 or 1 we use conservative estimate, same number)*
* *pub_rec = 3 => pub_rec_bankruptcies = 2 (for pub_rec = 3 all the bankruptcy values that are not nill are 0)* 
* *pub_rec = 5 => remove the row since it's the only one*

In [16]:
df.drop(df[df.pub_rec == 5].index.to_list(), inplace=True)
df.reset_index(inplace=True, drop=True)

In [17]:
def f(x):
    if (x["pub_rec"] == 0) and np.isnan(x["pub_rec_bankruptcies"]):
        return 0
    elif(x["pub_rec"] == 1) and np.isnan(x["pub_rec_bankruptcies"]):
        return 1
    elif(x["pub_rec"] == 2) and np.isnan(x["pub_rec_bankruptcies"]):
        return 2
    elif(x["pub_rec"] == 3) and np.isnan(x["pub_rec_bankruptcies"]):
        return 2
    else:
        return x["pub_rec_bankruptcies"]

In [18]:
df["pub_rec_bankruptcies"] = df.apply(f, axis=1)

### Recategorize some nominal columns

*Four rows have NONE as home_ownership value so they will be removed as well as the rows that contain missing values for revol_util column:*

In [19]:
rows_rm = df[df.home_ownership == "NONE"].index.to_list() + df[df.revol_util.isnull()].index.to_list()
df.drop(rows_rm, inplace=True)
df.reset_index(inplace=True, drop=True)
df.shape

(42440, 22)

*There are rows that contain "Does not meet the credit policy." in the loan_status column, let's remove those:*

In [20]:
rows_rm = df[df.loan_status == "Does not meet the credit policy. Status:Fully Paid"].index.to_list() + \
          df[df.loan_status == "Does not meet the credit policy. Status:Charged Off"].index.to_list()
df.drop(rows_rm, inplace=True)
df.reset_index(inplace=True, drop=True)
df.shape

(39733, 22)

*All missing values in emp_length column will be replaced with "< 1 year" since a reasonable estimate is that people who retired or are unemployed have null as the emp_length value:*

In [21]:
def f(x):
    v = str(x)
    if v == "nan":
        return "< 1 year"
    else:
        return x

In [22]:
df["emp_length"] = df.emp_length.apply(f)
df.shape

(39733, 22)

*addr_state will be recategorized into four categories that represent regions in the US:*

In [23]:
west = ['AZ', 'CA', 'OR', 'UT', 'WA', 'CO', 'NV', 'AK', 'NM', 'NM', 'HI', 'WY', 'ID']
midwest = ['IL', 'MO', 'MN', 'OH', 'WI', 'KS', 'MI', 'SD', 'IA', 'NE', 'IN']
south = ['GA', 'NC', 'TX', 'VA', 'FL', 'KY', 'SC', 'LA', 'AL', 'MD', 'WV', 'DC', 'AR', 'OK', 'DE', 'MS', 'TN']
northeast = ['CT', 'NY', 'PA', 'NJ', 'RI', 'MA', 'VT', 'NH', 'ME']

In [24]:
def f(x):
    if x in west:
        return "west"
    elif x in midwest:
        return "midwest"
    elif x in south:
        return "south"
    else:
        return "northeast"

In [25]:
df["addr_state"] = df.addr_state.apply(f)

*verification_status column has 3 unique values Verified, Not Verified and Source Verified. Source Verified will
be change into Verified:*

In [26]:
def f(x):
    if x == "Source Verified":
        return "Verified"
    else:
        return x

In [27]:
df["verification_status"] = df.verification_status.apply(f)

### Change dtypes of some object columns

*int_rate and revol_util will have trailing % removed and casted to float64:*

In [28]:
def f(x):
    return x[:-1]

In [29]:
df["int_rate"] = df.int_rate.apply(f)
df["int_rate"] = df["int_rate"].astype(np.float64)
df["revol_util"] = df.revol_util.apply(f)
df["revol_util"] = df["revol_util"].astype(np.float64)

*term column will have preceding space and trailing word month removed and casted to int64:*

In [30]:
def f(x):
    return x.lstrip()[:-7]

In [31]:
df["term"] = df.term.apply(f)
df["term"] = df["term"].astype(np.int64)

### Prepare the dependent variable

*loan_status column will have the value "Fully Paid" changed to 1 and "Charged Off" to 0:*

In [32]:
def f(x):
    if x == "Fully Paid":
        return 1
    else:
        return 0

In [33]:
df["loan_status"] = df.loan_status.apply(f)